<% content_for(:header) do %>
  <%= stylesheet_pack_tag 'home' %>
<% end %>

<div class="d-flex h-100 justify-content-center align-items-center">
  <div class="home-root">
    <%= render(partial: @party ? 'next_party' : 'no_party') %>
  </div>
</div>